body {
  background-color: #e6e8eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  align-self: center;
}

.container-headline-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  padding: 0 10px 0 10px;
}

.section-scores {
  display: flex;
}

.form {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-refresh {
  padding: 0;
}

input {
  margin-bottom: 15px;
  height: 40px;
  width: 25vw;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1.1vw;
  border: 1px solid #63bdd4;
}

h1 {
  font-size: 3.5vw;
  color: #63bdd4;
}

h2 {
  font-size: 1.8vw;
  color: #63bdd4;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #63bdd4;
  color: white;
}

.add-btn {
  align-self: flex-end;
}

.list-scores {
  width: 25vw;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}

.score {
  margin-left: 10px;
  height: 15px;
  position: relative;
  display: flex;
  bottom: 7px;
  align-self: center;
  font-size: 1.2vw;
  text-transform: capitalize;
}

.score > span {
  margin-left: 10px;
  font-weight: bold;
}

.scorePlaceFirst {
  position: absolute;
  left: 20vw;
  background-color: gold;
  color: white;
  font-size: 1.2vw;
  padding: 5px;
  align-self: center;
  top: -0.1vw;
}

.scorePlaceSecond {
  position: absolute;
  left: 20vw;
  background-color: silver;
  color: white;
  font-size: 1.2vw;
  padding: 5px;
  align-self: center;
  top: -0.1vw;
}

.scorePlaceThird {
  position: absolute;
  left: 20vw;
  background-color: #cd7f32;
  color: white;
  font-size: 1.2vw;
  padding: 5px;
  align-self: center;
  top: -0.1vw;
}

.score-container {
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
  height: 4vw;
}

.score-container:nth-child(odd) {
  background-color: #adc0db;
}

.score-container p {
  align-self: center;
}

@media screen and (max-width: 1000px) {
  .section-scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .container-score {
    order: 1;
  }

  input {
    width: 70vw;
    font-size: 2.8vw;
  }

  .container-headline-button {
    width: 70vw;
  }

  .add-btn {
    align-self: flex-start;
    margin-bottom: 25px;
  }

  .list-scores {
    width: 70vw;
  }

  .btn-refresh {
    margin-bottom: 25px;
  }

  .headline {
    text-align: center;
  }

  .score-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 8vw;
  }

  .score {
    font-size: 3.5vw;
  }

  .scorePlaceFirst {
    position: absolute;
    left: 57vw;
    background-color: gold;
    color: white;
    font-size: 2.4vw;
    padding: 5px;
    align-self: center;
    top: 2px;
  }

  .scorePlaceSecond {
    position: absolute;
    left: 57vw;
    background-color: silver;
    color: white;
    font-size: 2.4vw;
    padding: 5px;
    align-self: center;
    top: 2px;
  }

  .scorePlaceThird {
    position: absolute;
    left: 57vw;
    background-color: #cd7f32;
    color: white;
    font-size: 2.4vw;
    padding: 5px;
    align-self: center;
    top: 2px;
  }
}
