body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  align-self: center;
}

.container-headline-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
}

.section-scores {
  display: flex;
}

.form {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-refresh {
  padding: 0;
}

input {
  margin-bottom: 15px;
  height: 40px;
  width: 25vw;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1.1vw;
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: 1.8vw;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
}

.add-btn {
  align-self: flex-end;
}

.list-scores {
  width: 25vw;
  height: 60vh;
  border: 1px solid black;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .section-scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .container-score {
    order: 1;
  }

  input {
    width: 70vw;
  }

  .container-headline-button {
    width: 70vw;
  }

  .add-btn {
    align-self: flex-start;
    margin-bottom: 25px;
  }

  .list-scores {
    width: 70vw;
  }

  .btn-refresh {
    margin-bottom: 25px;
  }

  .headline {
    text-align: center;
  }
}
